out/simulation_2d
out/processed
*.out
.gitignore
packing_job_2d_bi.sh
packing_job_2d_bi.txt
packing_job_2d_poly.sh
packing_job_2d_poly.txt
simulation_job_list.sh
simulation_job_list.txt
simulation_width_job.sh
simulation_width_job.txt
HPC_scipts/crunch.sh
HPC_scipts/crunch.txt
HPC_scipts/organize_width.sh
out/.DS_Store
moved_files
*.sh
*.txt
.DS_Store
*.gif
fig1.fig
fig2.fig
in/eigen_vectors_and_values_for_packings/
eigen_results.mat
in/packings_processed_eig_PDF/
out/2d_damped_eigenStuff/
out/simulation_3d/36900by7_initial/
out/2d_eigenModes/40by40/
out/simulation_3d
myenv/
src/simMD.jl
